@model IEnumerable<Disaster_Alleviation_Foundation.Models.Disaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Capture A New Disaster</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AidType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AidType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Type">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Type">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Type">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
