@model IEnumerable<Disaster_Alleviation_Foundation.Models.GoodsDonation>

@{
    ViewData["Title"] = "Index";
}

<h1>Capture New Goods Donations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
